
.skills{
  // background: url("img/skills/bg-2.svg");
  // background-repeat: no-repeat;
  // background-size: 70%;
  // background-position: center center;
  padding: 50px 0;
}
.skillbox{
    padding: 4rem 3rem;
}

.bar{
    padding: 1rem;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
}

.skill-bars{
  width: 100vw;
}
.skill-bars .bar{
  margin: 40px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 3px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 1.1rem;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height:5px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 70%;
}
.bar .progress-line.JavaScript span{
  width: 65%;
}
.bar .progress-line.sass span{
  width: 70%;
}
.bar .progress-line.Photoshop span{
  width: 60%;
}
.bar .progress-line.Bootstrap span{
  width: 75%;
}
.bar .progress-line.Tailwind span{
  width: 80%;
}
.bar .progress-line.WordPress span{
  width: 65%;
}
.bar .progress-line.Java span{
  width: 45%;
}
.bar .progress-line.Illustrator span{
  width: 55%;
}

@keyframes showText2 {
  100%{
    opacity: 1;
  }
}




@media screen and (max-width:1100px){
  .skills{
    padding: 50px 0;
  }
  .skillbox{
    padding: 2rem;
}

.bar{
    padding:.8rem;
}


.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 1px;
}
.skill-bars .bar .info span{
  font-size: 1rem;
}

.skill-bars .bar .progress-line{
  height: 4px;
}  
.progress-line span::after{
  font-size: .66rem;
}

}

@media screen and (max-width:900px){
  .skills{
    padding: 40px 0;
  }
  .skillbox{
    padding: 2rem;
}

.bar{
    padding:.9rem;
}


.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 1px;
}
.skill-bars .bar .info span{
  font-size: 1rem;
}

.skill-bars .bar .progress-line{
  height: 4px;
}  
.progress-line span::after{
  font-size: .66rem;
}

}

@media screen and (max-width:600px){
  .skills{
    padding: 40px 0;
  }
 
  .skillbox1{
    padding: 3rem 3rem 0 3rem;
}
  .skillbox2{
    padding: 0rem 3rem 3rem 3rem;
}

.bar{
    padding:.9rem;
}


.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 1px;
}
.skill-bars .bar .info span{
  font-size: 1rem;
}

.skill-bars .bar .progress-line{
  height: 4px;
}  
.progress-line span::after{
  font-size: .66rem;
}

}